<%= render partial: "shared/user_list", locals: {user: @user} %>
<div class="card p-2 mt-2 mb-2">
    Bio: <br>
    <%= @user.bio %>
</div>

<% if @user.recent_posts.length > 0 %>
    <% @user.recent_posts.each_with_index do |post, id| %>
        <%= link_to user_post_path(@user.id, post.id) do %>
            <%= render partial: "shared/post_list", locals: {post: post, track: id} %>
        <% end %>
    <% end %>
<% else %>
    <%= "No posts yet" %>
<% end %>

<div class="text-center">
    <button><%= link_to "See all posts", user_posts_path(@user.id) %></button>
</div>
<br>