<div class="card p-2 mb-2 border-primary">
    <h4>Post: #<%= post.id %></h4>
    <p class="text-start text-danger">Post Title: <%= "#{post.title}" %></p>
    <div>
        <p class="text-start"><%= post.text %></p>
        <div class="text-end">
            <p>Comments: <%= post.comments.length %> Likes: <%= post.likes.length %> </p>
        </div>
    </div>
</div>
