<div class="card p-2 border-success shadow p-3 mb-5 bg-white rounded">
    <div>
        <h4 class="text-start">Post: <%= "##{@post.id + 1} by #{@post.user.name}" %></h4>
        <p class="text-end"> Comments: <%= @comments.length %> Likes: <%= @likes.length %></p>
    </div>
    <%= @post.text %>
</div>
<div>
    <div class="d-flex justify-content-center gap-4">
        <%= link_to "Add new comment", new_user_post_comment_url(user_id: @post.user_id, post_id: @post.id ), class: "btn btn-primary" %>
        <%= form_with model: @like, url: user_post_likes_url(post_id: @post.id) do |form| %>
          <%= form.submit "Hit Like", class: "btn btn-danger" %>
        <% end %>
    </div>
</div>
Comments: 
<div class="card mt-4 border-danger shadow p-3 mb-5 bg-white rounded">
    <% if @comments.length > 0 %>
    <% @comments.each do |comment| %>
        <div class="p-2">
            <p><%= comment.user.name %>: <%= comment.text %></p>
        </div>
    <% end %>
</div>
    <% else %>
        No comment yet
    <% end %>
