<h1>Post</h1>
<p>Show details of post for given user.</p>

Id: <%= "#{@post.id + 1} by #{@post.user.name}" %> <br>
Post: <%= @post.text %> <br>


<% if @comments.length > 0 %>
    <% @comments.each do |comment| %>
        <br>
        Time: <%= comment.updated_at %> <br>
        Name: <%= comment.user.name %> <br>
        Comment: <%= comment.text %> <br>
    <% end %>
<% else %>
    No comment yet
<% end %>
